<div class="input-group">
  <span class="input-group-text" id="basic-addon1" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" (click)="searchEmitter()">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
  </span>
  <input
    type="text"
    class="form-control"
    placeholder="Search movie by name"
    (keyup.enter)="searchEmitter()"
    (keyup)="searchKeyUp(searchInput.value)"
    #searchInput>
</div>
<div *ngIf="toggable" class="position-relative" >
  <ul  class="list-group bg-dark col-12 position-absolute mt-1" [ngStyle]="{height: currentSearch.length > 2? '200px': 'auto'}" style="overflow-y:auto">
    <li *ngFor="let movie of currentSearch" class="list-group-item list-group-item-action d-flex justify-content-start align-items-center">
      <div>
        <img id="search-box-img" src="{{movie.imgSrc}}" alt="{{movie.title}}">
      </div>
      <div class="row row-cols-1 ms-2">
        <div class="fw-bold">{{movie.title}}</div>
        <span class="ms-auto">
          {{movie.releaseYear}} • {{movie.MPARating}} • {{movie.durationMinutes | minutesToString}}
        </span>
      </div>
    </li>
    <li class="list-group-item list-group-item-action text-center" (click)="searchEmitter()"> See all results</li>
  </ul>
</div>

