<div class="container" *ngIf="selectedMovie">
  <div id="side-bar-head" class="row">
    <div class="col-6 col-sm-12 col-lg-6">
        <img
            [src]="selectedMovie.imgSrc"
            [alt]="selectedMovie.title"
            class="border-rounded"
            id="side-bar-img"
        >
    </div>
    <div class="col-6 col-sm-12 col-lg-6">
        <div class="">
            <h3>{{selectedMovie.title}}</h3>
            <p>{{selectedMovie.releaseYear}} • {{selectedMovie.MPARating}} • {{durationString(selectedMovie.durationMinutes)}}</p>
            <p>Raiting: 4.7</p>
        </div>
    </div>
  </div>
  <div id="movie-description">
    <p>{{selectedMovie.synopsis}}</p>
  </div>
</div>
