<div id="side-bar-head" class="row">
  <div class="col-6 col-sm-12 col-lg-6">
      <img
          src="https://i.pinimg.com/564x/7a/3f/52/7a3f5262919d65c6e7d5f323ddb412f0.jpg"
          alt="Howl's Moving Castle"
          class="border-rounded"
          id="side-bar-img"
      >
  </div>
  <div class="col-6 col-sm-12 col-lg-6">
      <div class="">
          <h3>Howl's Moving Castle</h3>
          <p>2004 • PG • 1h 59m</p>
          <p>Raiting: 4.7</p>
      </div>
  </div>
</div>
<div>
  <p>When an unconfident young woman is cursed with an old body by a spiteful witch, her only chance of breaking the spell lies with a self-indulgent yet insecure young wizard and his companions in his legged, walking castle.</p>
</div>
